$basicFont: 'Oxygen', 'Source Sans Pro', sans-serif;

$darkGray: #484A4A;
$hoverGray: #7A8C91;

@keyframes fadein{
   from{opacity:0;}
   to{opacity:1;}
}

.welcomeText{
   animation: fadein 2s;
}

body {
  margin: 0 !important;
  padding: 0 !important;
	.navContainer {
    z-index: 1;
		position: fixed;
		background-color: white;
		width: 100%;
		padding: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    border-bottom: solid 1px #c4c5c6;
    // text-align: right;

			.navLinks {
				text-decoration: none;
				font-family: $basicFont;
				font-weight: lighter;
				padding: 3px 15px 3px 15px;
        // margin-right: 20px;
				color: $darkGray;
				font-size: 21px;
			}
			a:hover {
				color: $hoverGray;
			}
		}

.outerContainer{
	.innerContainer {
		background-image: url("./images/brows.jpeg");
    background-size: cover;
		background-position: top;
		background-attachment: fixed;
    height: 100vh;
		background-repeat: no-repeat;
		padding-top: 10px;
    display: flex;
    // justify-content: flex-end;
    flex-direction: row-reverse;
		.welcomeText {
      align-items: flex-end;
			margin-top: 15vh;
      margin-right: 2vw;
      font-family: 'Heebo', sans-serif;
			text-align: right;
			color: #2e5b64;
			h1{
				font-size: 3.5vmax;
        color: #232323;
				font-weight: normal;
				margin-bottom: 0px;
			}
			h2{
				font-size: 2.5vmax;
				margin-top: 0px;
				margin-bottom: 70px;
				font-weight: lighter;
			}
		}

	}
  .welcomeArrowDiv {
    margin-left: auto;
    margin-right: auto;
  }
  .invisibleDiv {
    width: 490px;
    height: 100px;
    align-items: flex-start;
    margin-top: 40vh;
    text-align: left;
  }

}

#halfDownArrow {
	border-radius: 1000px 1000px 0px 0px;
  background-color: transparent;
  border-top: solid white 3px;
	border-left: solid white 3px;
	border-right: solid white 3px;
	border-bottom: none;
  padding: 35px 12px 30px 12px;
  font-size: 1vmax;
  box-shadow: 1px 1px 2px $darkGray;
  align-self: flex-end;
}
#halfDownArrow:hover {
	color: white;
	opacity: 0.5;
}
.projectsArrowDiv {
  display: flex;
  justify-content: center;
  // margin-top: -10px;
}

.aboutPage{
	// background-image: url("./images/background1.jpeg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
  height: 100vh;
	background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: space-between;
	.aboutPopOut{
    align-self: center;
		background-color: white;
    opacity: 0.9;
    width: 500px;
    min-height: 200px;
    max-height: 450px;
    max-width: 500px;
		padding: 20px 30px 30px 20px;
    background-color: #254a54;
			#aboutHeading{
				color: white;
				font-family: $basicFont;
				font-size: 40px;
				font-weight: normal;
			}
			#aboutText{
				font-family: $basicFont;
				letter-spacing: 3px;
				font-size: 20px;
				color: white;
			}
		}
    .invisiblePopOut {
      background-color: transparent;
      align-self: center;
      width: 500px;
      height: 200px;
      max-width: 500px;
      min-width: 0px;
  		// padding: 60px;
  		line-height: 30px;
    }
	}
//
	.skillsPage{
		background-image: url("./images/background1.jpeg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100vh;
		.skillsPopOut{
      align-self: center;
  		background-color: white;
      opacity: 0.9;
      width: 500px;
      min-height: 200px;
      max-height: 500px;
      padding: 20px 20px 30px 30px;
  		line-height: 30px;
				#skillsHeading{
					color: $darkGray;
					font-family: $basicFont;
					font-size: 40px;
					font-weight: normal;
          text-align: right;
				}
				#skillsText{
					font-family: $basicFont;
					letter-spacing: 3px;
					font-size: 20px;
					color: #6A6D6E;
          text-align: right;
				}
			}
      .invisiblePopOut2 {
        background-color: transparent;
        align-self: center;
        width: 500px;
        height: 200px;
        max-width: 500px;
        min-width: 0px;
    		padding: 60px;
    		line-height: 30px;
      }
		}

	.projectsPage{
    min-height: 90vh;
    max-height: 400vh;
    // background-color: #ffe649;
    background-image: url("./images/background3.jpg");
    background-size: cover;
		background-position: center;
		background-attachment: fixed;
    background-repeat: no-repeat;
		.projectsPopOut{
			padding-top: 10vh;
      padding-bottom: 10vh;
			text-align: center;
				#projectsHeading{
          text-shadow: 1px 1px 2px $darkGray;
					color: white;
					font-family: $basicFont;
					font-size: 50px;
					font-weight: bold;
				}

        .titles {
          font-size: 20px;
          color: $darkGray;
          text-decoration: none;
        }

				.projectsContainer {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          .projectDiv {
            box-shadow: 1px 1px 2px $darkGray;
            display: flex;
            align-items: center;
            .projectTitle {
              visibility: visible;
              position: absolute;
              max-width: 400px;
              min-width:80px;
              padding: 60px 0px 60px 0px;
              width: 88%;
              text-align: center;
              h3 {
                font-size: 35px;
                word-wrap: break-word;
              }
            }
            .projectDescription {
              height: 70%;
              visibility: hidden;
              position: relative;
              padding: 0px 50px 0px 50px;
              p {
                font-size: 20px;
                color: black;
              }
          }
          }
          width: 100%;
          .projectOne:hover, .projectTwo:hover, .projectThree:hover, .projectFour:hover{
            .projectDiv {
              background-color: #e2fccc;
              h3 {
                visibility: hidden;
              }
              p {
                visibility: visible;
              }
            }
          }
					.projectOne, .projectTwo, .projectThree, .projectFour{
            opacity: .9;
            margin: 25px 15px 25px 15px;
            background-color: white;
            .projectDiv {
              color: $darkGray;
              font-family: 'Josefin Slab', serif;
              font-size: 20px;
              font-size: 18px;
              min-width: 200px;
              max-width: 400px;
              height: 300px;
            }
        	}
				}
			}
		}

		.footer {
      background-color: white;
      margin-top: 100px;
      margin-bottom: -150px;
			padding-top: 30px;
			padding-bottom: 70px;
      border-top: solid #c4c5c6 1px;
      justify-content: center;
      font-family: $basicFont;
      font-size: 20px;
      color: #2a5560;
			.emailLink {
        opacity: 0.9;
			}
      a {
        width: 80px;
        padding: 20px 70px 20px 70px;
      }
      .linkPic {
        width: 90px;
        height: 90px;
      }
			.emailLink:hover {
				opacity: 1;
			}
		}

}
