@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.welcomeText {
  animation: fadein 2s; }

body {
  margin: 0 !important;
  padding: 0 !important; }
  body .navContainer {
    z-index: 1;
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    border-bottom: solid 1px #c4c5c6; }
    body .navContainer .navLinks {
      text-decoration: none;
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      font-weight: lighter;
      padding: 3px 15px 3px 15px;
      color: #484A4A;
      font-size: 21px; }
    body .navContainer a:hover {
      color: #7A8C91; }
  body .outerContainer .innerContainer {
    background-image: url("./images/brows.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    padding-top: 10px;
    display: flex;
    justify-content: center; }
    body .outerContainer .innerContainer .welcomeText {
      margin-top: 20vh;
      font-family: 'Heebo', sans-serif;
      text-align: center;
      color: #2e5b64; }
      body .outerContainer .innerContainer .welcomeText h1 {
        font-size: 3.5vmax;
        color: #232323;
        font-weight: normal;
        margin-bottom: 0px; }
      body .outerContainer .innerContainer .welcomeText h2 {
        font-size: 2.5vmax;
        margin-top: 0px;
        margin-bottom: 70px;
        font-weight: lighter; }
      body .outerContainer .innerContainer .welcomeText #downArrow {
        border: solid white 3px;
        box-shadow: 1px 1px 2px #484A4A;
        border-radius: 1000px;
        text-decoration: none;
        font-size: 100px;
        padding: 5px 10px 5px 10px;
        background-color: transparent; }
      body .outerContainer .innerContainer .welcomeText #downArrow:hover {
        color: white;
        opacity: 0.5; }
  body #halfDownArrow {
    border-radius: 1000px 1000px 0px 0px;
    background-color: transparent;
    border-top: solid white 3px;
    border-left: solid white 3px;
    border-right: solid white 3px;
    border-bottom: none;
    padding: 35px 12px 30px 12px;
    font-size: 1vmax;
    box-shadow: 1px 1px 2px #484A4A;
    align-self: flex-end; }
  body #halfDownArrow:hover {
    color: white;
    opacity: 0.5; }
  body .projectsArrowDiv {
    display: flex;
    justify-content: center; }
  body .aboutPage {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: space-between; }
    body .aboutPage .aboutPopOut {
      align-self: center;
      background-color: white;
      opacity: 0.9;
      width: 500px;
      min-height: 200px;
      max-height: 450px;
      max-width: 500px;
      padding: 20px 30px 30px 20px;
      background-color: #254a54; }
      body .aboutPage .aboutPopOut #aboutHeading {
        color: white;
        font-family: "Oxygen", "Source Sans Pro", sans-serif;
        font-size: 40px;
        font-weight: normal; }
      body .aboutPage .aboutPopOut #aboutText {
        font-family: "Oxygen", "Source Sans Pro", sans-serif;
        letter-spacing: 3px;
        font-size: 20px;
        color: white; }
    body .aboutPage .invisiblePopOut {
      background-color: transparent;
      align-self: center;
      width: 500px;
      height: 200px;
      max-width: 500px;
      min-width: 0px;
      line-height: 30px; }
  body .skillsPage {
    background-image: url("./images/background1.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100vh; }
    body .skillsPage .skillsPopOut {
      align-self: center;
      background-color: white;
      opacity: 0.9;
      width: 500px;
      min-height: 200px;
      max-height: 500px;
      padding: 20px 20px 30px 30px;
      line-height: 30px; }
      body .skillsPage .skillsPopOut #skillsHeading {
        color: #484A4A;
        font-family: "Oxygen", "Source Sans Pro", sans-serif;
        font-size: 40px;
        font-weight: normal;
        text-align: right; }
      body .skillsPage .skillsPopOut #skillsText {
        font-family: "Oxygen", "Source Sans Pro", sans-serif;
        letter-spacing: 3px;
        font-size: 20px;
        color: #6A6D6E;
        text-align: right; }
    body .skillsPage .invisiblePopOut2 {
      background-color: transparent;
      align-self: center;
      width: 500px;
      height: 200px;
      max-width: 500px;
      min-width: 0px;
      padding: 60px;
      line-height: 30px; }
  body .projectsPage {
    min-height: 90vh;
    max-height: 400vh;
    background-image: url("./images/background3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; }
    body .projectsPage .projectsPopOut {
      padding-top: 10vh;
      padding-bottom: 10vh;
      text-align: center; }
      body .projectsPage .projectsPopOut #projectsHeading {
        text-shadow: 1px 1px 2px #484A4A;
        color: white;
        font-family: "Oxygen", "Source Sans Pro", sans-serif;
        font-size: 50px;
        font-weight: bold; }
      body .projectsPage .projectsPopOut .titles {
        font-size: 20px;
        color: #484A4A;
        text-decoration: none; }
      body .projectsPage .projectsPopOut .projectsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; }
        body .projectsPage .projectsPopOut .projectsContainer .projectDiv {
          box-shadow: 1px 1px 2px #484A4A;
          display: flex;
          align-items: center; }
          body .projectsPage .projectsPopOut .projectsContainer .projectDiv .projectTitle {
            visibility: visible;
            position: absolute;
            max-width: 400px;
            min-width: 80px;
            padding: 60px 0px 60px 0px;
            width: 88%;
            text-align: center; }
            body .projectsPage .projectsPopOut .projectsContainer .projectDiv .projectTitle h3 {
              font-size: 35px;
              word-wrap: break-word; }
          body .projectsPage .projectsPopOut .projectsContainer .projectDiv .projectDescription {
            height: 70%;
            visibility: hidden;
            position: relative;
            padding: 0px 50px 0px 50px; }
            body .projectsPage .projectsPopOut .projectsContainer .projectDiv .projectDescription p {
              font-size: 20px;
              color: black; }
        body .projectsPage .projectsPopOut .projectsContainer .projectOne:hover .projectDiv, body .projectsPage .projectsPopOut .projectsContainer .projectTwo:hover .projectDiv, body .projectsPage .projectsPopOut .projectsContainer .projectThree:hover .projectDiv, body .projectsPage .projectsPopOut .projectsContainer .projectFour:hover .projectDiv {
          background-color: #e2fccc; }
          body .projectsPage .projectsPopOut .projectsContainer .projectOne:hover .projectDiv h3, body .projectsPage .projectsPopOut .projectsContainer .projectTwo:hover .projectDiv h3, body .projectsPage .projectsPopOut .projectsContainer .projectThree:hover .projectDiv h3, body .projectsPage .projectsPopOut .projectsContainer .projectFour:hover .projectDiv h3 {
            visibility: hidden; }
          body .projectsPage .projectsPopOut .projectsContainer .projectOne:hover .projectDiv p, body .projectsPage .projectsPopOut .projectsContainer .projectTwo:hover .projectDiv p, body .projectsPage .projectsPopOut .projectsContainer .projectThree:hover .projectDiv p, body .projectsPage .projectsPopOut .projectsContainer .projectFour:hover .projectDiv p {
            visibility: visible; }
        body .projectsPage .projectsPopOut .projectsContainer .projectOne, body .projectsPage .projectsPopOut .projectsContainer .projectTwo, body .projectsPage .projectsPopOut .projectsContainer .projectThree, body .projectsPage .projectsPopOut .projectsContainer .projectFour {
          opacity: .9;
          margin: 25px 15px 25px 15px;
          background-color: white; }
          body .projectsPage .projectsPopOut .projectsContainer .projectOne .projectDiv, body .projectsPage .projectsPopOut .projectsContainer .projectTwo .projectDiv, body .projectsPage .projectsPopOut .projectsContainer .projectThree .projectDiv, body .projectsPage .projectsPopOut .projectsContainer .projectFour .projectDiv {
            color: #484A4A;
            font-family: 'Josefin Slab', serif;
            font-size: 20px;
            font-size: 18px;
            min-width: 200px;
            max-width: 400px;
            height: 300px; }
  body .footer {
    background-color: white;
    margin-top: 100px;
    margin-bottom: -150px;
    padding-top: 30px;
    padding-bottom: 70px;
    border-top: solid #c4c5c6 1px;
    justify-content: center;
    font-family: "Oxygen", "Source Sans Pro", sans-serif;
    font-size: 20px;
    color: #2a5560; }
    body .footer .emailLink {
      opacity: 0.9; }
    body .footer a {
      width: 80px;
      padding: 20px 70px 20px 70px; }
    body .footer .linkPic {
      width: 90px;
      height: 90px; }
    body .footer .emailLink:hover {
      opacity: 1; }

/*# sourceMappingURL=style.css.map */
