.top {
  background-color: gray;
  margin: 0px;
  h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 45px;
  }
  h2 {
    padding-bottom: 30px;
    text-align: center;
  }
}

.section {
  text-align: center;
  font-size: 30px;
}
.skills {
}

.education {
  background-color: yellow;
  .company {
    font-size: 20px;
  }
  .positionTitle {
    font-size: 20px;
  }
  .location{
    font-size: 20px;
  }
  .timeframe{
    font-size: 20px;
  }
  p {
    font-size: 20px;
  }
}
