@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.welcomeText {
  animation: fadein 2s; }

body .container {
  position: fixed;
  background-color: white;
  width: 100%;
  padding: 20px;
  margin-left: -10px;
  text-align: right; }
  body .container .navLinks {
    text-decoration: none;
    font-family: "Oxygen", "Source Sans Pro", sans-serif;
    font-weight: lighter;
    padding: 30px 30px 30px 10px;
    color: #484A4A;
    font-size: 17px; }
  body .container a:hover {
    color: #7A8C91; }
body .outerContainer .innerContainer {
  background-image: url("./images/water.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 600px;
  height: 1000px;
  background-repeat: no-repeat;
  padding-top: 10px;
  margin: -10px; }
  body .outerContainer .innerContainer .welcomeText {
    margin-top: 150px;
    font-family: "Oxygen", "Source Sans Pro", sans-serif;
    letter-spacing: 3px;
    text-align: center;
    color: white; }
    body .outerContainer .innerContainer .welcomeText h1 {
      font-size: 70px;
      font-weight: normal;
      margin-bottom: 0px; }
    body .outerContainer .innerContainer .welcomeText h2 {
      font-size: 30px;
      margin-top: 0px;
      margin-bottom: 70px;
      font-weight: lighter; }
    body .outerContainer .innerContainer .welcomeText .roundArrow {
      margin: auto;
      width: 120px;
      height: 120px;
      border: solid white;
      border-radius: 100px; }
    body .outerContainer .innerContainer .welcomeText #downArrow {
      color: white;
      text-decoration: none;
      font-size: 100px;
      background-color: transparent; }
    body .outerContainer .innerContainer .welcomeText #downArrow:hover {
      color: white;
      opacity: 0.5; }
body .flexHalfDownArrow {
  bottom: 0px; }
body #halfDownArrow {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 100px;
  border-radius: 100px 100px 0px 0px;
  border-top: solid white;
  border-left: solid white;
  border-right: solid white;
  border-bottom: none;
  background-color: transparent; }
body #halfDownArrow:hover {
  color: white;
  opacity: 0.5; }
body .aboutPage {
  background-image: url("./images/dimensional.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 600px;
  height: 900px;
  background-repeat: no-repeat;
  margin: -10px; }
  body .aboutPage .aboutPopOut {
    background-color: white;
    margin-top: 200px;
    width: 500px;
    display: inline-block;
    padding: 60px;
    line-height: 30px; }
    body .aboutPage .aboutPopOut #aboutHeading {
      color: #484A4A;
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      font-size: 40px;
      font-weight: normal; }
    body .aboutPage .aboutPopOut #aboutText {
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      letter-spacing: 3px;
      font-size: 16px;
      color: #6A6D6E; }
body .skillsPage {
  background-image: url("./images/skills.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 600px;
  height: 900px;
  background-repeat: no-repeat;
  padding-top: 30px;
  margin-right: -10px;
  margin-left: -10px; }
  body .skillsPage .skillsPopOut {
    background-color: white;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 250px;
    width: 500px;
    padding: 60px;
    line-height: 30px; }
    body .skillsPage .skillsPopOut #skillsHeading {
      color: #484A4A;
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      font-size: 40px;
      font-weight: normal; }
    body .skillsPage .skillsPopOut #skillsText {
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      letter-spacing: 3px;
      font-size: 16px;
      color: #6A6D6E; }
body .projectsPage {
  padding-bottom: 200px; }
  body .projectsPage .projectsPopOut {
    padding-top: 200px;
    text-align: center;
    line-height: 30px;
    margin: auto; }
    body .projectsPage .projectsPopOut #projectsHeading {
      color: #484A4A;
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      font-size: 40px;
      font-weight: normal; }
    body .projectsPage .projectsPopOut #projectsText {
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      letter-spacing: 3px;
      font-size: 16px;
      color: #6A6D6E; }
    body .projectsPage .projectsPopOut .projectsContainer {
      display: inline-flex;
      flex-wrap: nowrap; }
      body .projectsPage .projectsPopOut .projectsContainer .projectOne, body .projectsPage .projectsPopOut .projectsContainer .projectTwo, body .projectsPage .projectsPopOut .projectsContainer .projectThree {
        width: 300px;
        height: 500px;
        border: solid #7A8C91 0.5px; }
      body .projectsPage .projectsPopOut .projectsContainer .projectOne {
        background-image: url("./images/projectOne.jpg"); }
      body .projectsPage .projectsPopOut .projectsContainer .projectTwo {
        background-image: url("./images/projectTwo.jpg"); }
      body .projectsPage .projectsPopOut .projectsContainer .projectThree {
        background-image: url("./images/projectThree.jpg"); }
body .contactPage {
  min-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EBEDED;
  height: 700px;
  margin-right: -10px;
  margin-left: -10px; }
  body .contactPage .contactPopOut {
    background-color: white;
    width: 600px;
    height: 400px;
    padding: 60px;
    line-height: 30px; }
    body .contactPage .contactPopOut #contactHeading {
      color: #484A4A;
      margin: auto;
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      font-size: 40px;
      font-weight: normal; }
    body .contactPage .contactPopOut #name, body .contactPage .contactPopOut #email {
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      letter-spacing: 3px;
      font-size: 16px;
      color: #484A4A;
      display: inline-block;
      padding: 15px;
      border: solid #EBEDED;
      display: inline-block;
      width: 250px;
      margin: 30px 5px 5px 5px; }
    body .contactPage .contactPopOut #message {
      display: block;
      margin: 5px 5px 15px 5px;
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      letter-spacing: 3px;
      font-size: 16px;
      color: #484A4A;
      border: solid #EBEDED;
      width: 550px;
      height: 150px;
      padding: 15px; }
    body .contactPage .contactPopOut #sendMessageButton {
      display: block;
      margin: auto;
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      letter-spacing: 3px;
      font-size: 20px;
      color: white;
      width: 200px;
      height: 80px;
      border: solid #ABD19F;
      border-radius: 40px;
      background-color: #ABD19F; }
body .footer {
  padding: 15px;
  background-color: #2F444A;
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: -10px; }
  body .footer #linkedIn, body .footer #gitHub {
    margin: auto;
    opacity: 0.5; }
  body .footer #gitHub:hover, body .footer #linkedIn:hover {
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
