@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.welcomeText {
  animation: fadein 2s; }

body .container {
  position: fixed;
  background-color: white;
  width: 100%;
  padding: 20px;
  margin-left: -10px;
  text-align: right; }
  body .container .navLinks {
    text-decoration: none;
    font-family: "Oxygen", "Source Sans Pro", sans-serif;
    font-weight: lighter;
    padding: 30px 30px 30px 10px;
    color: #484A4A;
    font-size: 17px; }
  body .container a:hover {
    color: #7A8C91; }
body .outerContainer .innerContainer {
  background-image: url("./images/water.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 600px;
  height: 1000px;
  background-repeat: no-repeat;
  padding-top: 10px;
  margin: -10px; }
  body .outerContainer .innerContainer .welcomeText {
    margin-top: 150px;
    font-family: "Oxygen", "Source Sans Pro", sans-serif;
    letter-spacing: 3px;
    text-align: center;
    color: white; }
    body .outerContainer .innerContainer .welcomeText h1 {
      font-size: 70px;
      font-weight: normal;
      margin-bottom: 0px; }
    body .outerContainer .innerContainer .welcomeText h2 {
      font-size: 30px;
      margin-top: 0px;
      margin-bottom: 70px;
      font-weight: lighter; }
    body .outerContainer .innerContainer .welcomeText .roundArrow {
      margin: auto; }
    body .outerContainer .innerContainer .welcomeText #downArrow {
      border: solid white;
      border-radius: 1000px;
      text-decoration: none;
      font-size: 100px;
      padding-left: 5px;
      padding-right: 5px;
      background-color: transparent; }
    body .outerContainer .innerContainer .welcomeText #downArrow:hover {
      color: white;
      opacity: 0.5; }
body .aboutArrowDiv {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 0px; }
body .skillsArrowDiv {
  display: flex;
  justify-content: center;
  margin-top: 255px;
  margin-bottom: 0px; }
body #halfDownArrow {
  border-radius: 1000px 1000px 0px 0px;
  background-color: transparent;
  border-top: solid white;
  border-left: solid white;
  border-right: solid white;
  border-bottom: none;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 100px; }
body #halfDownArrow:hover {
  color: white;
  opacity: 0.5; }
body .projectsArrowDiv {
  display: flex;
  justify-content: center; }
body #upsideHalfDownArrow {
  margin-top: 100px;
  margin-bottom: 0px;
  border-radius: 1000px 1000px 0px 0px;
  background-color: transparent;
  border-top: solid black;
  border-left: solid black;
  border-right: solid black;
  border-bottom: none;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 100px; }
body .aboutPage {
  background-image: url("./images/dimensional.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 600px;
  height: 900px;
  background-repeat: no-repeat;
  padding-top: 30px;
  margin-top: -120px;
  margin-right: -10px;
  margin-left: -10px; }
  body .aboutPage .aboutPopOut {
    background-color: white;
    margin-top: 200px;
    width: 500px;
    max-width: 500px;
    display: inline-block;
    padding: 60px;
    line-height: 30px; }
    body .aboutPage .aboutPopOut #aboutHeading {
      color: #484A4A;
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      font-size: 40px;
      font-weight: normal; }
    body .aboutPage .aboutPopOut #aboutText {
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      letter-spacing: 3px;
      font-size: 16px;
      color: #6A6D6E; }
body .skillsPage {
  background-image: url("./images/skills.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 600px;
  height: 900px;
  background-repeat: no-repeat;
  padding-top: 30px;
  margin-top: -120px;
  margin-right: -10px;
  margin-left: -10px; }
  body .skillsPage .skillsPopOut {
    background-color: white;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 250px;
    width: 500px;
    padding: 60px;
    line-height: 30px; }
    body .skillsPage .skillsPopOut #skillsHeading {
      color: #484A4A;
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      font-size: 40px;
      font-weight: normal; }
    body .skillsPage .skillsPopOut #skillsText {
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      letter-spacing: 3px;
      font-size: 16px;
      color: #6A6D6E; }
body .projectsPage .projectsPopOut {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  line-height: 30px;
  margin: auto; }
  body .projectsPage .projectsPopOut #projectsHeading {
    color: #484A4A;
    font-family: "Oxygen", "Source Sans Pro", sans-serif;
    font-size: 40px;
    font-weight: normal; }
  body .projectsPage .projectsPopOut #projectsText {
    font-family: "Oxygen", "Source Sans Pro", sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
    color: #6A6D6E; }
  body .projectsPage .projectsPopOut .projectsContainer {
    display: inline-flex;
    flex-wrap: nowrap; }
    body .projectsPage .projectsPopOut .projectsContainer .projectOne, body .projectsPage .projectsPopOut .projectsContainer .projectTwo, body .projectsPage .projectsPopOut .projectsContainer .projectThree {
      width: 300px;
      height: 500px;
      border: solid #7A8C91 0.5px; }
      body .projectsPage .projectsPopOut .projectsContainer .projectOne .monty, body .projectsPage .projectsPopOut .projectsContainer .projectTwo .monty, body .projectsPage .projectsPopOut .projectsContainer .projectThree .monty {
        font-size: 50px;
        color: #484A4A;
        text-decoration: underline; }
      body .projectsPage .projectsPopOut .projectsContainer .projectOne .projectTitles, body .projectsPage .projectsPopOut .projectsContainer .projectTwo .projectTitles, body .projectsPage .projectsPopOut .projectsContainer .projectThree .projectTitles {
        color: #484A4A;
        font-size: 50px;
        text-decoration: none; }
    body .projectsPage .projectsPopOut .projectsContainer .projectOne {
      background-image: url("./images/projectOne.jpg");
      background-size: cover;
      background-position: center; }
    body .projectsPage .projectsPopOut .projectsContainer .projectTwo {
      background-image: url("./images/projectTwo.jpg");
      background-size: cover;
      background-position: center; }
    body .projectsPage .projectsPopOut .projectsContainer .projectThree {
      background-image: url("./images/projectThree.jpg");
      background-size: cover;
      background-position: center; }
body .footer {
  padding: 15px;
  background-color: #2F444A;
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: -10px; }
  body .footer #linkedIn, body .footer #email, body .footer #gitHub {
    margin: auto;
    opacity: 0.5; }
  body .footer #email {
    margin: 20px; }
  body .footer #gitHub:hover, body .footer #linkedIn:hover, body .footer #email:hover {
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
