@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.welcomeText {
  animation: fadein 2s; }

body .container {
  z-index: 1;
  position: fixed;
  background-color: white;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  margin-left: -10px;
  text-align: right; }
  body .container .navLinks {
    text-decoration: none;
    font-family: "Oxygen", "Source Sans Pro", sans-serif;
    font-weight: lighter;
    padding: 30px 30px 30px 10px;
    color: #484A4A;
    font-size: 17px; }
  body .container a:hover {
    color: #7A8C91; }
body .outerContainer .innerContainer {
  background-image: url("./images/water.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 600px;
  height: 1000px;
  background-repeat: no-repeat;
  padding-top: 10px;
  margin: -30px; }
  body .outerContainer .innerContainer .welcomeText {
    margin-top: 150px;
    font-family: "Oxygen", "Source Sans Pro", sans-serif;
    letter-spacing: 3px;
    text-align: center;
    color: white; }
    body .outerContainer .innerContainer .welcomeText h1 {
      font-size: 70px;
      font-weight: normal;
      margin-bottom: 0px; }
    body .outerContainer .innerContainer .welcomeText h2 {
      font-size: 30px;
      margin-top: 0px;
      margin-bottom: 70px;
      font-weight: lighter; }
    body .outerContainer .innerContainer .welcomeText .roundArrow {
      margin: auto; }
    body .outerContainer .innerContainer .welcomeText #downArrow {
      border: solid white;
      border-radius: 1000px;
      text-decoration: none;
      font-size: 100px;
      padding: 15px 20px 15px 20px;
      background-color: transparent; }
    body .outerContainer .innerContainer .welcomeText #downArrow:hover {
      color: white;
      opacity: 0.5; }
body .aboutArrowDiv {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 0px; }
body .skillsArrowDiv {
  display: flex;
  justify-content: center;
  margin-top: 225px;
  margin-bottom: 0px; }
body #halfDownArrow {
  border-radius: 1000px 1000px 0px 0px;
  background-color: transparent;
  border-top: solid white;
  border-left: solid white;
  border-right: solid white;
  border-bottom: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 100px; }
body #halfDownArrow:hover {
  color: white;
  opacity: 0.5; }
body .projectsArrowDiv {
  display: flex;
  justify-content: center; }
body #upsideHalfDownArrow {
  margin-top: 100px;
  margin-bottom: 0px;
  border-radius: 1000px 1000px 0px 0px;
  background-color: transparent;
  border-top: solid black;
  border-left: solid black;
  border-right: solid black;
  border-bottom: none;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 100px; }
body .aboutPage {
  background-image: url("./images/dimensional.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 600px;
  height: 900px;
  background-repeat: no-repeat;
  padding-top: 30px;
  margin-top: -120px;
  margin-left: -30px;
  margin-right: -30px; }
  body .aboutPage .aboutPopOut {
    background-color: white;
    margin-top: 200px;
    width: 500px;
    max-width: 500px;
    display: inline-block;
    padding: 60px;
    line-height: 30px; }
    body .aboutPage .aboutPopOut #aboutHeading {
      color: #484A4A;
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      font-size: 40px;
      font-weight: normal; }
    body .aboutPage .aboutPopOut #aboutText {
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      letter-spacing: 3px;
      font-size: 16px;
      color: #6A6D6E; }
body .skillsPage {
  background-image: url("./images/skills.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 600px;
  height: 900px;
  background-repeat: no-repeat;
  padding-top: 30px;
  margin-top: -120px;
  margin-left: -30px;
  margin-right: -30px; }
  body .skillsPage .skillsPopOut {
    background-color: white;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 250px;
    width: 500px;
    padding: 60px;
    line-height: 30px; }
    body .skillsPage .skillsPopOut #skillsHeading {
      color: #484A4A;
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      font-size: 40px;
      font-weight: normal; }
    body .skillsPage .skillsPopOut #skillsText {
      font-family: "Oxygen", "Source Sans Pro", sans-serif;
      letter-spacing: 3px;
      font-size: 16px;
      color: #6A6D6E; }
body .projectsPage .projectsPopOut {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  line-height: 30px;
  margin: auto; }
  body .projectsPage .projectsPopOut #projectsHeading {
    color: #484A4A;
    font-family: "Oxygen", "Source Sans Pro", sans-serif;
    font-size: 40px;
    font-weight: normal; }
  body .projectsPage .projectsPopOut #projectsText {
    font-family: "Oxygen", "Source Sans Pro", sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
    color: #6A6D6E; }
  body .projectsPage .projectsPopOut .titles {
    font-size: 25px;
    color: #484A4A;
    text-decoration: none; }
  body .projectsPage .projectsPopOut .projectsContainer {
    display: inline-flex; }
    body .projectsPage .projectsPopOut .projectsContainer .projectOne {
      background-image: url("./images/projectOne.jpg");
      background-repeat: none;
      opacity: 0.9; }
    body .projectsPage .projectsPopOut .projectsContainer .projectOne:hover {
      opacity: 1; }
      body .projectsPage .projectsPopOut .projectsContainer .projectOne:hover .projectDiv {
        background-color: #fcedab; }
    body .projectsPage .projectsPopOut .projectsContainer .projectTwo {
      background-image: url("./images/projectTwo.jpg");
      background-repeat: none;
      opacity: 0.9; }
    body .projectsPage .projectsPopOut .projectsContainer .projectTwo:hover {
      opacity: 1; }
      body .projectsPage .projectsPopOut .projectsContainer .projectTwo:hover .projectDiv {
        background-color: #fcedab; }
    body .projectsPage .projectsPopOut .projectsContainer .projectThree {
      background-image: url("./images/projectThree.jpg");
      background-repeat: none;
      opacity: 0.9; }
    body .projectsPage .projectsPopOut .projectsContainer .projectThree:hover {
      opacity: 1; }
      body .projectsPage .projectsPopOut .projectsContainer .projectThree:hover .projectDiv {
        background-color: #fcedab; }
    body .projectsPage .projectsPopOut .projectsContainer .projectOne, body .projectsPage .projectsPopOut .projectsContainer .projectTwo, body .projectsPage .projectsPopOut .projectsContainer .projectThree {
      width: 380px;
      height: 600px;
      border: solid #7A8C91 1px;
      background-size: contain;
      background-position: top; }
      body .projectsPage .projectsPopOut .projectsContainer .projectOne .projectDiv, body .projectsPage .projectsPopOut .projectsContainer .projectTwo .projectDiv, body .projectsPage .projectsPopOut .projectsContainer .projectThree .projectDiv {
        color: #484A4A;
        font-family: 'Josefin Slab', serif;
        font-size: 25px;
        background-color: white;
        margin-top: 392px;
        padding-top: 10px;
        background-color: white;
        height: 300px;
        width: 380px;
        border-right: solid #7A8C91 1px;
        border-left: solid #7A8C91 1px;
        border-bottom: solid #7A8C91 1px; }
body .footer {
  text-align: center;
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 40px;
  border-top: solid #e8e8e8 30px;
  margin-left: -30px;
  margin-right: -30px; }
  body .footer .emailLink, body .footer .linkedinLink, body .footer .githubLink {
    margin: auto;
    opacity: 0.9; }
  body .footer .linkedinLink {
    margin: auto;
    padding-left: 100px;
    padding-right: 90px; }
  body .footer .githubLink {
    margin: auto; }
  body .footer .emailLink:hover, body .footer .linkedinLink:hover, body .footer .githubLink:hover {
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
