$basicFont: 'Oxygen', 'Source Sans Pro', sans-serif;

$darkGray: #484A4A;
$hoverGray: #7A8C91;

@keyframes fadein{
   from{opacity:0;}
   to{opacity:1;}
}
.welcomeText{
   animation: fadein 2s;
}

body {
	.container {
		position: fixed;
		background-color: white;
		width: 100%;
		padding: 20px;
		margin-left: -10px;
		text-align: right;
			.navLinks {
				text-decoration: none;
				font-family: $basicFont;
				font-weight: lighter;
				padding: 30px 30px 30px 10px;
				color: $darkGray;
				font-size: 17px;
			}
			a:hover {
				color: $hoverGray;
			}
		}

.outerContainer{
	.innerContainer {
		background-image: url("./images/water.jpg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		min-width: 600px;
		background-repeat: no-repeat;
		padding-top: 10px;
		margin: -10px;
		padding-bottom: 650px;

		.welcomeText {
			margin-top: 150px;
			font-family: $basicFont;
			letter-spacing: 3px;
			text-align: center;
			color: white;
			h1{
				font-size: 70px;
				font-weight: normal;
				margin-bottom: 0px;
			}
			h2{
				font-size: 30px;
				margin-top: 0px;
				margin-bottom: 70px;
				font-weight: lighter;
			}

			.roundArrow {
				margin: auto;
				width: 120px;
				height: 120px;
				border: solid white;
				border-radius: 100px;

			}
			#downArrow {
				color: white;
				text-decoration: none;
				font-size: 100px;
				background-color: transparent;
			}
			#downArrow:hover {
				color: white;
				opacity: 0.5;
			}
		}
	}
}

.flexHalfDownArrow {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
#halfDownArrow {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	align-self: flex-end;
	width: 120px;
	height: 120px;
	color: white;
	font-size: 100px;
	border-radius: 100px 100px 0px 0px;
	border-top: solid white;
	border-left: solid white;
	border-right: solid white;
	border-bottom: none;
	background-color: transparent;
}
#halfDownArrow:hover {
	color: white;
	opacity: 0.5;
}


.aboutPage{
	background-image: url("./images/dimensional.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-width: 600px;
	background-repeat: no-repeat;
	padding-top: 30px;
	margin: -10px;
	padding-bottom: 10px;
	.aboutPopOut{
		background-color: white;
		margin-top: 200px;
		margin-bottom: 170px;
		display: inline-block;
		width: 500px;
		padding: 60px;
		line-height: 30px;
			#aboutHeading{
				color: $darkGray;
				font-family: $basicFont;
				font-size: 40px;
				font-weight: normal;
			}
			#aboutText{
				font-family: $basicFont;
				letter-spacing: 3px;
				font-size: 16px;
				color: #6A6D6E;
			}
		}
	}

	.skillsPage{
		background-image: url("./images/skills.jpg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		min-width: 600px;
		background-repeat: no-repeat;
		padding-top: 30px;
		margin-right: -10px;
		margin-left: -10px;
		.skillsPopOut{
			background-color: white;
			margin-left: auto;
			margin-right: 0px;
			margin-top: 250px;
			margin-bottom: 250px;
			width: 500px;
			padding: 60px;
			line-height: 30px;
				#skillsHeading{
					color: $darkGray;
					font-family: $basicFont;
					font-size: 40px;
					font-weight: normal;
				}
				#skillsText{
					font-family: $basicFont;
					letter-spacing: 3px;
					font-size: 16px;
					color: #6A6D6E;
				}
			}
		}

	.projectsPage{
		padding-bottom: 200px;
		.projectsPopOut{
			padding-top: 200px;
			text-align: center;
			line-height: 30px;
			margin: auto;
				#projectsHeading{
					color: $darkGray;
					font-family: $basicFont;
					font-size: 40px;
					font-weight: normal;
				}
				#projectsText{
					font-family: $basicFont;
					letter-spacing: 3px;
					font-size: 16px;
					color: #6A6D6E;
				}
				.projectsContainer {
					display: inline-flex;
					flex-wrap: nowrap;
					.projectOne, .projectTwo, .projectThree {
						width: 300px;
						height: 500px;
						border: solid $hoverGray .5px;
					}
					.projectOne {
						background-image: url("./images/projectOne.jpg");
					}
					.projectTwo {
						background-image: url("./images/projectTwo.jpg");
					}
					.projectThree {
						background-image: url("./images/projectThree.jpg");
					}
				}
			}
		}

		.contactPage{
			min-width: 700px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #EBEDED;
			height: 700px;
			margin-right: -10px;
			margin-left: -10px;

			.contactPopOut{
        display: none;
				background-color: white;
				width: 600px;
				height: 400px;
				padding: 60px;
				line-height: 30px;
					#contactHeading{
						color: $darkGray;
						margin: auto;
						font-family: $basicFont;
						font-size: 40px;
						font-weight: normal;
					}
					#name, #email {
						font-family: $basicFont;
						letter-spacing: 3px;
						font-size: 16px;
						color: $darkGray;
						display: inline-block;
						padding: 15px;
						border: solid #EBEDED;
						display: inline-block;
						width: 250px;
						margin: 30px 5px 5px 5px;
					}

					#message {
						display: block;
						margin: 5px 5px 15px 5px;
						font-family: $basicFont;
						letter-spacing: 3px;
						font-size: 16px;
						color: $darkGray;
						border: solid #EBEDED;
						width: 550px;
						height: 150px;
						padding: 15px;
					}
					#sendMessageButton {
						display: block;
						margin: auto;
						font-family: $basicFont;
						letter-spacing: 3px;
						font-size: 20px;
						color: white;
						width: 200px;
						height: 80px;
						border: solid #ABD19F;
						border-radius: 40px;
						background-color: #ABD19F;
					}
				}
			}
		.footer {
			padding: 15px;
			background-color: #2F444A;
			margin-right: -10px;
			margin-left: -10px;
			margin-bottom: -10px;

			#linkedIn, #gitHub{
				margin: auto;
				opacity: 0.5;
			}
			#gitHub:hover, #linkedIn:hover {
				opacity: 1;
			}
		}

}
