$basicFont: 'Oxygen', 'Source Sans Pro', sans-serif;

$darkGray: #484A4A;
$hoverGray: #7A8C91;

@keyframes fadein{
   from{opacity:0;}
   to{opacity:1;}
}
.welcomeText{
   animation: fadein 2s;
}

body {
	.container {
		position: fixed;
		background-color: white;
		width: 100%;
		padding: 20px;
		margin-left: -10px;
		text-align: right;
			.navLinks {
				text-decoration: none;
				font-family: $basicFont;
				font-weight: lighter;
				padding: 30px 30px 30px 10px;
				color: $darkGray;
				font-size: 17px;
			}
			a:hover {
				color: $hoverGray;
			}
		}

.outerContainer{
	.innerContainer {
		background-image: url("./images/water.jpg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		min-width: 600px;
    height: 1000px;
		background-repeat: no-repeat;
		padding-top: 10px;
		margin: -10px;

		.welcomeText {
			margin-top: 150px;
			font-family: $basicFont;
			letter-spacing: 3px;
			text-align: center;
			color: white;
			h1{
				font-size: 70px;
				font-weight: normal;
				margin-bottom: 0px;
			}
			h2{
				font-size: 30px;
				margin-top: 0px;
				margin-bottom: 70px;
				font-weight: lighter;
			}

			.roundArrow {
				margin: auto;
			}
			#downArrow {
        border: solid white;
        border-radius: 1000px;
				text-decoration: none;
				font-size: 100px;
        padding: 15px 20px 15px 20px;
				background-color: transparent;
			}
			#downArrow:hover {
				color: white;
				opacity: 0.5;
			}
		}
	}
}

.aboutArrowDiv {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 0px;
}
.skillsArrowDiv {
  display: flex;
  justify-content: center;
  margin-top: 225px;
  margin-bottom: 0px;
}
#halfDownArrow {
	border-radius: 1000px 1000px 0px 0px;
  background-color: transparent;
  border-top: solid white;
	border-left: solid white;
	border-right: solid white;
	border-bottom: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 100px;
}
#halfDownArrow:hover {
	color: white;
	opacity: 0.5;
}
.projectsArrowDiv {
  display: flex;
  justify-content: center;
  // margin-top: -10px;
}
#upsideHalfDownArrow {
  margin-top: 100px;
  margin-bottom: 0px;
  border-radius: 1000px 1000px 0px 0px;
  background-color: transparent;
  border-top: solid black;
	border-left: solid black;
	border-right: solid black;
	border-bottom: none;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 100px;
}


.aboutPage{
	background-image: url("./images/dimensional.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-width: 600px;
  height: 900px;
	background-repeat: no-repeat;
  padding-top: 30px;
  margin-top: -120px;
  margin-right: -10px;
  margin-left: -10px;

	.aboutPopOut{
		background-color: white;
		margin-top: 200px;
    width: 500px;
    max-width: 500px;
		display: inline-block;
		padding: 60px;
		line-height: 30px;
			#aboutHeading{
				color: $darkGray;
				font-family: $basicFont;
				font-size: 40px;
				font-weight: normal;
			}
			#aboutText{
				font-family: $basicFont;
				letter-spacing: 3px;
				font-size: 16px;
				color: #6A6D6E;
			}
		}
	}

	.skillsPage{
		background-image: url("./images/skills.jpg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		min-width: 600px;
    height: 900px;
		background-repeat: no-repeat;
		padding-top: 30px;
    margin-top: -120px;
		margin-right: -10px;
		margin-left: -10px;
		.skillsPopOut{
			background-color: white;
			margin-left: auto;
			margin-right: 0px;
			margin-top: 250px;
			// margin-bottom: 250px;
			width: 500px;
			padding: 60px;
			line-height: 30px;
				#skillsHeading{
					color: $darkGray;
					font-family: $basicFont;
					font-size: 40px;
					font-weight: normal;
				}
				#skillsText{
					font-family: $basicFont;
					letter-spacing: 3px;
					font-size: 16px;
					color: #6A6D6E;
				}
			}
		}

	.projectsPage{
		// padding-bottom: 200px;
		.projectsPopOut{
			padding-top: 200px;
      padding-bottom: 200px;
			text-align: center;
			line-height: 30px;
			margin: auto;
				#projectsHeading{
					color: $darkGray;
					font-family: $basicFont;
					font-size: 40px;
					font-weight: normal;
				}
				#projectsText{
					font-family: $basicFont;
					letter-spacing: 3px;
					font-size: 16px;
					color: #6A6D6E;
				}

        .titles {
          font-size: 25px;
          // text-shadow: 0 0 4px black;
          color: $darkGray;
          text-decoration: none;
        }

				.projectsContainer {
          display: inline-flex;
          .projectOne {
            background-image: url("./images/projectOne.jpg");
            background-size: cover;
            background-position: center;
          }
          .projectTwo {
            background-image: url("./images/projectTwo.jpg");
          }
          .projectThree {
            background-image: url("./images/projectThree.jpg");
          }
					.projectOne, .projectTwo, .projectThree {
						width: 300px;
						height: 500px;
            color: #2F444A;
						border: solid $hoverGray 1px;
            background-size: cover;
            background-position: center;
            font-family: $basicFont;
            // opacity: 0.5;
        	}
				}
			}
		}

		.footer {
			padding: 15px;
			background-color: #2F444A;
			margin-right: -10px;
			margin-left: -10px;
			margin-bottom: -10px;

			#linkedIn, #email, #gitHub{
				margin: auto;
				opacity: 0.5;
			}
      #email{
        margin: 20px;
      }
			#gitHub:hover, #linkedIn:hover, #email:hover {
				opacity: 1;
			}
		}

}
